<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about" style="text-align: justify;">
        <h2>About Me</h2>
        <p style="text-indent: 5%;">I am a motivated web developer working towards becoming a full-stack developer. Currently, I use my IT and research skills as a regional revitalization staff member to promote Tokushima and engage communities. I’m now looking to transition into a web developer, where I can create impactful digital products and continue expanding my skills.</p>

        <p style="text-indent: 5%;">Previously, I worked as an English teacher for five years in Kobe City but decided to switch careers to take on new challenges. After self-studying, I joined the 9-week intensive Le Wagon web development boot camp in Tokyo, where I learned <strong>Ruby, SQL, HTML, CSS, Bootstrap, JavaScript, and Rails</strong>. During the program, I collaborated with my classmates to build an <strong>Airbnb clone</strong> and a <strong>trash bin-finding mobile application</strong>, taking on the role of project leader.</p>

        <p style="text-indent: 5%;">Even after completing the boot camp, I have continued to refine my skills to grow as a web developer. I’m excited to bring my technical expertise, problem-solving mindset, and creativity to new opportunities.</p>
      </div>
    </div>
  </div>
</div>
