<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I am a motivated web developer who is trying to be a full-stack developer. Previously, I worked as an English teacher for 5 years in Kobe City but now I want to switch careers because I felt I did everything I could as a teacher and want to face new challenges. After taking some time self-studying, I decided to join the 9-week intensive Le Wagon web development boot camp in Tokyo where I studied Ruby, SQL, HTML, CSS, Bootstrap, JavaScript, and Rails. In the 9 weeks, I learned a lot and even created an Airbnb clone project and trash-finding mobile application with my classmates as the project leader. Even after the boot camp ended, I continued to practice and learn more to become a better web developer.</p>
      </div>
    </div>
  </div>
</div>
