<div class="projcard-container">
  <h2>My Projects</h2>
  <% data.projects.each do |project| %>
    <div class="projcard projcard-red">
      <div class="projcard-innerbox">
        <%= image_tag project.image, alt: "project image", class: "projcard-img" %>
        <div class="projcard-textbox">
          <div class="projcard-title">
            <h2><%= project.name %></h2>
          </div>
          <div class="projcard-subtitle">
            <span class="tools"><%= project.tools.html_safe %></span>
          </div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">
            <p><%= project.description %></p>
          </div>
          <div class="projcard-tagbox">
            <%# Fix this %>
            <% link_to project.source, target: '_blank' do %>
              <button class="button button-red"><span>View Code</span></button>
            <% end %>
            <% if project.url == "none" %>
              <% link_to project.url, class: 'd-none', target: '_blank' do %>
                <button class="button button-red"><span>Visit Site</span></button>
              <% end %>
            <% else %>
              <% link_to project.url, target: '_blank' do %>
                <button class="button button-red-invert"><span>Visit Site</span></button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
